@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    background-image: url('https://marketplace.canva.com/qurXU/MAEfpiqurXU/1/s2/canva-moon-over-the-sea-at-sunset-MAEfpiqurXU.jpg');
    /* background-repeat:initial; */
    background-size: 100%;
 
}
body{
    margin: 0;
    padding: 0;
    /* background-image:url('Django_ORm.jpg'); */
    font-family: 'PT Serif', serif#
}

#main .sidebar {
    text-align: center;
    color: hotpink;
    font-size: 2em;
    f
}